---
type navitems = { name: string; href: string };
export interface Props {
  items: Array<navitems>;
  brand: string;
  logo: string;
}

const { items, brand, logo } = Astro.props;
---

<div class="wave">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-0.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"></path>
  </svg>
</div>
<header slot="navbar" class="h-10 fixed z-20 ms-10">
  <nav class="flex gap-20">
    <div class="flex gap-1">
      <img
        alt="brand-logo"
        style={{ height: "25px", width: "25px" }}
        src={logo}
      />
      <span class="text-lg">{brand}</span>
    </div>
    <ul class="flex gap-6 navigation">
      {
        items.map((e) => (
          <li class="nav-item">
            <a
              href={e.href}
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-white dark:hover:text-blue-500"
              aria-current="page"
            >
              {e.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>

  <style>
    .wave {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .wave svg {
      display: block;
      width: 100%;
      height: auto;
    }

    .wave .shape-fill {
      fill: #f43f5e;
    }
  </style>

  <script>
    //@ts-ignore
    document
      .querySelector(".nav-item")
      .classList.add("active", "border-b-2", "border-b-white");

    let navitems: NodeList = document.querySelectorAll(".nav-item");

    Array.from(navitems).forEach((e: any) => {
      e.addEventListener("click", function () {
        Array.from(navitems).forEach((innerele: any) => {
          innerele.classList.remove("active", "border-b-white", "border-b-2");
        });

        e.classList.add("active", "border-b-white", "border-b-2");
      });
    });
  </script>
</header>
