---

type navitems = {name : string , href : string}
export interface Props{
    items : Array<navitems>;
    brand : string;
    logo : string;
}

const {items , brand , logo } = Astro.props;
---
<header slot="navbar"  class="h-10 fixed z-20   ms-10" >
<nav class="flex gap-20">
<div class="flex gap-1">
    <img alt="brand-logo" style={{height:"25px" , width : "25px"}} src={logo}/>
    <span>{brand}</span>
</div>
<ul class="flex gap-4 navigation">
    {items.map((e) => <li class="nav-item"><a href={e.href} class="block nav-link py-2 pl-3 pr-4 text-gray-900 rounded  hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent " aria-current="page">{e.name}</a></li>)}
</ul>
</nav>
</header>

<script>

//@ts-ignore
document.querySelector('.nav-item').classList.add('active', 'border-b-2', 'border-b-white')

let navitems: NodeList = document.querySelectorAll('.nav-item');

Array.from(navitems).forEach((e: any) => {
  e.addEventListener('click', function() {
    Array.from(navitems).forEach((innerele: any) => {
      innerele.classList.remove('active','border-b-white','border-b-2');
    });

    e.classList.add('active', 'border-b-white', 'border-b-2');
  });
});

</script>